@import "../base.scss";
$refrsh-btn-color: #007CBB;
.refresh-btn {
    @include refresh-button
}

.refresh-btn:hover {
    @include refresh-button-hover($refrsh-btn-color);
}

.dist-providers-tool {
    @include float-right(0px);
}

.creare-btn-pos-fix {
    position: relative;
    bottom: -5px;
}