<div>
    <div>
        <span><a href="/harbor">&lt; home</a></span>
    </div>
    <div>
        <h2>Distribution Providers</h2>
    </div>
    <clr-tabs>
        <clr-tab>
            <button clrTabLink id="provider_instances">Instances</button>
            <ng-template [(clrIfActive)]="instanceActive">
                <clr-tab-content id="provider_instances_list" *clrIfActive="true">
                    <dist-instances (createEvt)="create($event)" (editEvt)="editInstance($event)"></dist-instances>
                </clr-tab-content>
            </ng-template>
        </clr-tab>
        <clr-tab>
            <button clrTabLink id="providers">Providers</button>
            <ng-template [(clrIfActive)]="providerActive">
                <clr-tab-content id="provider_list" *clrIfActive>
                    <dist-providers (setupEvt)="createInstance($event)"></dist-providers>
                </clr-tab-content>
            </ng-template>
        </clr-tab>
    </clr-tabs>
</div>
<div>
    <dist-setup-modal #setupModal></dist-setup-modal>
</div>